# vim: sts=2:ts=2:et:ai
{% set sks = salt['grains.filter_by']({
    'Debian': {
        'packages': ['sks'],
        'service': 'sks',
        'confdir': '/etc/sks',
        'datadir': '/var/lib/sks',
        'user': 'debian-sks',
        'build_opts': '-n 10 -cache 100',
        'pbuild_opts': '-cache 20 -ptree_cache 70',
    },
}, merge=salt['pillar.get']('sks:lookup')) %}
