# vim: sts=2:ts=2:et:ai
{% set sks = salt['grains.filter_by']({
    'Debian': {
        'packages': ['sks'],
        'service': 'sks',
        'confdir': '/etc/sks',
        'datadir': '/var/lib/sks/',
        'user': 'debian-sks',
    },
}, merge=salt['pillar.get']('sks:lookup')) %}
